<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <property name="LOG_LEVEL" value="INFO"/>
        <property name="LOG_GROUP" value="/everygsm/prod"/>
        <property name="LOG_PREFIX" value="everygsm-prod-"/>
        <property name="RETENTION" value="30"/>
    </springProfile>

    <springProfile name="stage">
        <property name="LOG_LEVEL" value="DEBUG"/>
        <property name="LOG_GROUP" value="/everygsm/stage"/>
        <property name="LOG_PREFIX" value="everygsm-stage-"/>
        <property name="RETENTION" value="14"/>
    </springProfile>

    <springProfile name="prod | stage">
        <logger name="org.apache.http" level="OFF" additivity="false"/>
        <logger name="com.amazonaws" level="WARN" additivity="false"/>
        <logger name="software.amazon.awssdk" level="WARN" additivity="false"/>
        <logger name="ca.pjer.logback" level="WARN" additivity="false"/>

        <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>${LOG_LEVEL}</level>
            </filter>
            <layout>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
            <logGroupName>${LOG_GROUP}</logGroupName>
            <logStreamUuidPrefix>${LOG_PREFIX}</logStreamUuidPrefix>
            <logRegion>${spring.cloud.aws.region.static:-ap-northeast-2}</logRegion>
            <maxBatchLogEvents>50</maxBatchLogEvents>
            <maxFlushTimeMillis>30000</maxFlushTimeMillis>
            <maxBlockTimeMillis>5000</maxBlockTimeMillis>
            <retentionTimeDays>${RETENTION}</retentionTimeDays>
        </appender>

        <appender name="ASYNC_CLOUDWATCH" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>512</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <neverBlock>true</neverBlock>
            <appender-ref ref="CLOUDWATCH"/>
        </appender>

        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_CLOUDWATCH"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
